* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to top, #cce3ff, #fdfbfe, #fdfbfe, #fdfbfe); /* 3 màu */
  color: #333;
  height: 100vh;
}

a {
  text-decoration: none;
}

.sidebar {
  width: 160px;
  left: 3px; 
  background-color: #ecf5fe;
  padding: 8px 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: width 0.3s ease;
  position: fixed;
  top: 60px;
  height: calc(100vh - 65px);
  z-index: 2;
  border: 1px solid #b9e5fb;
  box-shadow: 0 0 10px rgba(230, 254, 255, 0.2);
 border-radius: 6px; 
}

.sidebar.collapsed {
  width: 45px;
  align-items: center;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.sidebar .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  color: #3b4a67;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
}

.sidebar .icon:hover,
.sidebar .icon.active {
  background-color: #b9e5fb;
  /* font-weight: bold; */
}

.sidebar.collapsed .icon span {
  display: none;
}

/* .content {
  flex: 1;
  display: flex;
  overflow: hidden;
  color: #0d58ec;
} */

.navbar {
  position: sticky;     /* hoặc fixed */
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #f1f6fa;
  border-bottom: 1px solid #d0e3f0;
}

.column_sidebar {
  background-color: transparent;
  transition: width 0.3s ease;
  overflow: hidden;
}

.column_content {
  flex: 1;
  overflow-y: auto;

  border: 1px solid #d0d7de;          
  border-radius: 6px;                  
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  margin-right: 3px;  
  margin-top: 6px;  
 
  height: calc(100vh - 65px);
  
}

.row {
  display: flex;
  width: 100%;
  gap: 5px;
  height: calc(100vh - 65px); 
  /* padding: 6px 3px 3px 3px; */
}


.logo-circle {
  width: 32px;
  height: 32px;
  background-color: #42aaff;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.search-input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #d0e3f0;
  border-radius: 8px;
  outline: none;
}

.menu-btn {
  background-color: transparent;
  border: none;
  color: #515456;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.add-btn {
  background-color: #42aaff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* .content {
  padding: 20px;
} */
