.newword-container {
  padding: 20px 40px;
  background-color: #f1f8fd;
  min-height: 100vh;
  box-sizing: border-box;
}

.newword-container h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.newword-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 0 0 1px #e3eaf1;
}

.newword-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  font-weight: 500;
  font-size: 18px;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}

.divider {
  border: none;
  height: 1px;
  background-color: #d9d9e3;
  margin: 10px 0 20px;
}

.newword-inputs {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.input-group {
  flex: 1; /* Mỗi ô chiếm 1 phần bằng nhau */
  display: flex;
  flex-direction: column;
}

.newword-inputs input {
  width: 100%;
  height: 45px;
  padding: 0 12px;
  background-color: #f1f4ff;
  border: 1px solid #d3d3f0;
  border-radius: 6px;
  font-size: 14px;
}
.newword-inputs input:focus {
  border: 1px solid #9a9a9a; 
  outline: none; 
}



.label {
  margin-top: 6px;
  color: #6f6f6f;
  font-size: 13px;
  text-align: center;
}

.done-btn,
.add_word-btn {
  background-color: #aecff0;
  border: 1px solid #8590f4;
  color: rgb(40, 33, 76);
  /* border: none; */
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.done-btn:hover,
.add_word-btn:hover {
  background-color: #d1e9ff;
  color: #004a99;
}


/* Khung chính (ô hiển thị) */
.custom-select .rs__control {
  background-color: #f1f4ff;
  border: 1px solid #d3d3f0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-select .rs__value-container {
  padding: 0 12px;
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 14px;
}

.custom-select-1 .rs-1__control {
  background-color: #f1f4ff;
  border: 1px solid #d3d3f0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-select-1 .rs-1__value-container {
  padding: 0 12px;
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 14px;
}

.custom-select-1 .rs-1__value-container-is-multi {
 padding: 0 12px;
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 14px;
}






